.contactContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Praktika-Light';
    font-size: 18px;
    font-weight: 600;
}

.leftContainer {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.rightContainer {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.centerContainer {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -75px;
    font-family: 'Praktika-Light';
    font-size: 18px;
    font-weight: 600;
}

.contactTransition {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: #CC5430; */
    /* background-color: #2F2B5E; */
    background-color: black;
    z-index: 2;
  }