.generalContainer {
    width: 100vw;
    height: 96vh;
    overflow: scroll;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.rowContainer {
    width: 100vw;
    height: 25vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.gridList {
    height: 500px;
}

.loadingContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading {
    animation: rotation 2s infinite linear;
    width: 75px;
    height: 75px;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

.stickyDownbarDirectorId {
    position: sticky;
    left: 0;
    display: flex;
    flex-direction: row;
    width: 100vw;
    background-color: white;
    z-index: 999999;
    height: 6vh;
    justify-content: space-between;
    bottom: 0;
    align-items: center;
}

.go-back-directors-button {
    width: 45%;
    padding-left: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
}

.go-back-text {
    padding-left: 10px;
    text-decoration: none;
    color: black
}

.go-back-text:hover {
    cursor: pointer;
}

.director-id-name {
    width: 55%;
    font-size: 20px;
    text-transform: uppercase;
}

@media (max-width: 720px) {
    .rowContainer {
        width: 100vw;
        height: 50vw;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }
    .director-id-name {
        width: 100%;
        font-size: 20px;
        text-transform: uppercase;
    }
}